
body {
    background-color: #c0deed;
}

h2 {
    color: #0084b4;
}

.title {
    margin-top: 2em;
}

#tweets {
    margin-top: 1em;
    border: 1px solid #00aced;
}

.tweet-date {
    position: absolute;
    right: 0px;
    width: 100px;
}

#loading {
    display: none;
}

.gly-ani {
    animation: ani 1s infinite linear;
}
@keyframes ani {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

